@model DoAn.Models.CheckoutViewModel

<div class="container text-center">
    <h2>Đặt hàng thành công!</h2>
    <p>Cảm ơn bạn đã mua hàng tại EGA Furniture.</p>
    <p>Chúng tôi sẽ liên hệ với bạn khi đơn hàng sẵn sàng để giao.</p>

    <a href="@Url.Action("DanhSach", "SanPham")" class="btn btn-primary mt-3">Tiếp tục mua sắm</a>
</div>
